.black{
  color: black;
}
.gray {
  color: #444141;
}
.orange {
  color: #ff2e00b3;
}
.purple {
  color: purple;
}
.red {
  color: red;
}
.green {
  color:green;
}
.bg-w {
  background-color: white;
  padding-left: 2px;
  padding-right: 2px;
}
