.main-img  img{
  width: 100vh;
  height: 25vh;
  border: 10px solid #b39ddb;
}
.part-img {
  border: 5px solid;
  background-color: white;
  width: 100vh;
  height: 100vh;
}
.hide {
  display: none;
} 
.nav-img-icon {
  width: 50%;
  margin-top: -1rem;
  background-color: #000;
  border-radius: 50%;
  border: 3px solid ;
}
.w-300 {
  width: 300px;
}
.photo {
  border: 5px solid;
  padding: 2rem;
  margin-top: 2rem;
  background-color: white;
}
.photo img{
  width:500px;
  height: 400px;
}
.fa-plus{
  border: 1px solid gray;
  border-radius: 50%;
  padding: 1px;
  cursor: pointer;
}
.fa-plus:hover{
  opacity: 0.6;
}
.fa-minus{
  cursor: pointer;
  border: 1px solid gray;
  border-radius: 50%;
  padding: 1px;
}
.fa-minus:hover{
  opacity: 0.6;
}
.fa-trash:hover{
  cursor: pointer;
  opacity: 0.6;
}

.icon-popup {
  position: fixed;
  color: white;
  right: 6rem;
  margin: 5px;
  font-size: xx-large;
  border: 3px solid black;
  border-radius: 50%;
  padding: 5px;
  height: 20px;
  background-color: purple;
  width: 20px;
}
.icon-popup:hover {
  opacity: 0.7;
  cursor: pointer;
}
.fa-circle-info{
  font-size: large;
  color: purple;
}
.fa-circle-info:hover{
  opacity: 0.7;
  cursor: pointer;
}
.fa-xmark{
  font-size: large;
}
.fa-trash-can{
  font-size: large;
  color: darkgray;
}
.fa-trash-can:hover{
  opacity: 0.7;
  cursor: pointer;
}
.fa-stamp {
  font-size: large;
}
.fa-binoculars {
  border: 2px solid black;
  border-radius: 50%;
  padding: 6px;
  background-color: #d1c4e9;
}
.fa-whatsapp {
  font-size: 3rem;
  color: green;
}
