.list-parts {
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  border: 3px solid;
  padding: 5px 10px;
  align-items: center;
  margin-top: 0.5rem;
  justify-content: space-around;
  width: 100vh;
}

.list-parts h6{
  width: 100px;
}

.list-parts input{
  width: 100px;
  font-size:xx-small;
}
.list-parts label{
  width: 100px;
  font-size:xx-small;
}
.list-parts img{
  width: 15vh;
  height: 10vh;
  border: none;
}

.list-parts-cart {
  display: flex;
  justify-content: center;
  border-bottom: 3px solid #9872df;
  padding: 5px 10px;
  align-items: center;
  margin-top: 0.5rem;
  justify-content: space-around;
  width: 100vh;
}

.list-parts-cart h6{
  width: 100px;
}
.list-parts-cart img{
  width: 15vh;
  height: 10vh;
  border: none;
}
.ls-components{
  height: 100vh;
}
.tab-list-parts{
  cursor: pointer;
}
.tab-list-parts :hover{
  opacity:0.8;
}
.part-details{
  overflow: auto;
  background-color: lightgray;
  position: absolute;
  border: 10px solid;
  right: 4rem;
  left: 4rem;
  top: 1rem;
  bottom: 1rem;
  z-index: 100;
  border-radius: 20px;
  padding: 1rem;
}
.fit{
  width: fit-content;
}
.space-a {
  justify-content: space-around;
}
.space-b {
  justify-content: space-between;
}
.show-shols {
  border: 1px solid;
  width: 100%;
  padding: 1rem;
  background-color: #9cc0df;
}
.bg-lightb{
  background-color: #282c34;
}
.hr-menu {
  border: 2px solid black;
  border-radius: 20px;
  margin: 0px;
}
.hr-menul {
  border: 1px solid #d1c4e9;
  border-radius: 20px;
  margin: 0px;
}

.menu-l{
  padding: 20px 15px;
  margin: 1px;
  background-color: #282c3440;
  border-radius: 5px;
  border: 2px solid gray;
  margin-top: 1rem;
}
.bg-search{
  background-color: white;
  border: 5px solid #282c34;
  align-items: center;
  display: flex;
  padding: 10px 15px;
  height: 10vh;
}
.w-100{
  width: 100%;
}
.vw-100 {
  width: 100vh;
}
.search {
  width: 57%;
  border-radius: 10px;
  font-size: 1rem;
  background-color: #d1c4e9;
  font-weight: bolder;
  height: 40px;
  padding: 5px;
  z-index: 100;
}
.fix-icon-search {
  right: 4rem;
  bottom: 4rem;
  border: 3px solid #282c34;
  color: #282c34;
  padding: 5px;
  background-color: #d1c4e9;
  font-size: 1rem;
  border-radius: 50%;
}
.fix-icon-search:hover{
  opacity: 0.7;
  cursor: pointer;
}
.mt-menu{
  margin-top: 3rem;
}
.shop-c {
  opacity: 0.9;
  font-size: 3rem;
  border-radius: 10px;
  padding: 1rem;
}
.close-search {
  display: flex;
  font-size: 1rem;
  align-items: center;
  margin-left: .5rem;
  padding: 2px;
  z-index: 100;
}
.close-search :hover {
  cursor: pointer;
  opacity: 0.7;
}
.close-search h6{
  margin-top: 1px;
  font-size: 10px;
}

.profile-data {
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-top: 1px solid #d1ccccd4;
  border-radius: 10px;
  background-color: aliceblue;
  padding: 5px;
  box-shadow: 2px 2px 2px lightgray;
  margin-top: 2rem;
}
.profile-data h4{
  margin: 0px;
}
.profile-icon {
  cursor: pointer;
}
.profile-icon :hover {
  color: blueviolet;
}
.mb-1 {
  margin-bottom: 1rem;
}
