.post {
  border-bottom: 1px dashed;
  margin: 0 2rem 0;
  margin-top: 0.5rem;
}
.post:hover{
  opacity: 0.7;
  cursor: pointer;
}
.post h2 {
  background-color: black;
  color: white;
  padding: 2px;
}
.post img{
  border: 3px solid;
  width: 200px;
  padding: 0.5rem;
  margin-bottom: 4px;
}
.tl{
  text-align: left;
}
.postdet {
  background: linear-gradient(84deg, rgb(138 137 141) 10%, rgb(215 214 219) 50%, rgb(138 137 141) 100%)
}
.postdet img{
  width: 600px;
  height: 300px;
  border: 3px solid;
}
.postdet p{
  margin: 0px;
}
.ital {
  font-style: italic;
}

@media only screen and (max-width: 780px) {
  .postdet img{
    width: 100%;}
}

@media only screen and (max-width: 350px) {
  .postdet img{
    height: 250px;
  }
}
