.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.App-footer {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 1vmin);
  color: white;
  position: fixed;
  bottom: 0rem;
  width: 100%;
}
.bg-main {
  background-image: url('https://res.cloudinary.com/hdiucqnlj/image/upload/v1653497274/path14l_wppraw.png');
  object-fit: cover;
}
.title {
  font-weight: bold;
  font-size: x-large;
}

.mayus {
  text-transform: uppercase;
}

.App-link {
  color: #61dafb;
}

.center {
  margin: auto;
  text-align: center;
  justify-content: center;
}
.container {
  width: 80%;
  overflow: scroll;
  height: 90vh;
}
.container-left {
  width: 20%;
  padding: 0rem 1rem;
  border-right:10px solid #282c34;
  background-color: #b39ddb;
}
.fix{
  position: fixed;
}
